<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto Care Pro</title>
  <!-- Include Font Awesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-g5y+1wkPvf3cGmlkK7+q+/6vL8Vxn+MVj1F6xYFvhvGBg2UQcjWwu+yU56H0ay8GpX2S8EeD9wBdZYkqqSHIgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
       body {
      background-color: #000; /* Change background color to black */
      color: #fff; /* Change text color to white */
    }

    /* Style for navigation bar */
    .navbar {
      background-color: #808080; /* Change navbar color to gray */
      padding: 10px;
    }

    table {
      width: 90%;
    }
  </style>
</head>
<body>

<!-- Navigation Bar -->
<div class="navbar d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Auto Care Pro</h1>
  <div>
    <img src="img/logo1.png" alt="Clock Icon" width="30" height="30"> <!-- Clock Icon -->
    <span></span> 
    <img src="img/logo2.png" alt="Clock Icon" width="50" height="50"> <!-- Clock Icon -->
    <span></span>
    <img src="img/logo3.png" alt="Clock Icon" width="30" height="30"> <!-- Clock Icon -->
    <span></span>
    <img src="img/logo4.png" alt="Clock Icon" width="30" height="30"> <!-- Clock Icon -->
    <span></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- Adding some space between clock and location -->
    <img src="img/email.png" alt="Email Icon" width="24" height="24"> <!-- Email Icon -->
    <a href="mailto:tharusha@gmail.com">tharusha@gmail.com</a> <!-- Email Address -->
    &nbsp;&nbsp; <!-- Adding some space between email and telephone -->
    <img src="img/telephone.png" alt="Telephone Icon" width="24" height="24"> <!-- Telephone Icon -->
    <span>+94 767022174</span> <!-- Telephone Number -->
    &nbsp;&nbsp; <!-- Adding some space between telephone and clock -->
    <img src="img/clock.png" alt="Clock Icon" width="24" height="24"> <!-- Clock Icon -->
    <span>MONDAY - SUNDAY</span> <!-- Days of the week -->
    &nbsp;&nbsp; <!-- Adding some space between clock and location -->
    <img src="img/location.png" alt="Location Icon" width="24" height="24"> <!-- Location Icon -->
    <span>BADULLA 4th LANE</span> <!-- Location Address -->
  </div>
</div>

<table>
    <tr>
        <td>
            <div class="container">
              
                <h1><b>We Are Professional <br /> Car Repairing <br />And Services.</b> <span style="color: white; -webkit-text-stroke: 1px #FFD700;">2024</span></h1></div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="image"><img src="img/abc.jpg" alt="Image" style="clip-path: polygon(50% 0%, 100% 0, 100% 70%, 100% 100%, 20% 100%, 10% 54%, 0 0);" width="750" height="500"></div>
            </div>
        </td>
    </tr>
</table>




</body>
</html>
